// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.link {
    text-decoration: none;
    color: #0c4da2;
    font-weight: 700;
    transition: .2s;
    &:hover {
        color: lighten(#0c4da2, 20%);
    }
}

.input {
    display: inline-block;
    position: relative;
    border: 1px solid #c8c8c8;
    &__control {
        height: 2rem;
        padding-left: .5rem;
        padding-right: 2rem;
        text-overflow: ellipsis;
        overflow: hidden;
        border: 0;
        outline: none;
        background: none;
        color: #333;
        &::placeholder {
            font-family: $font-1;
            font-weight: 400;
            color: #b2b2b2;
            opacity: 1;
            line-height: 1.75;
        }
    }
    &__icon {
        position: absolute;
        right: .5rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.button {
    display: inline-block;
    border: none;
    outline: none;
    box-shadow: none;
    padding: .5rem 1rem;
    border-radius: 3px;
    background: #e42644;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    &:hover {
        background: darken(#e42644, 8%);
    }
    &:active {
        background: darken(#e42644, 14%);
    }
}
