.hero {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background: linear-gradient(transparent 40%, #1c065b 100%),
                //url('../img/assets/hero/bg-addon.png') 100% 0 / auto 100% no-repeat,
                url('../img/assets/hero/banner.jpg') center / cover;
    color: #fff;
    font-family: $font-2;
    &__slider {
        overflow: hidden;
        .slick-arrow {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    &__slide {
        padding: 180px 80px 70px;
        @media (max-width: 768px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__header {
        margin: 0;
        line-height: 1;
        &_primary {
            position: relative;
            display: inline-block;
            font-size: 4.75rem;
            font-weight: 300;
            @media (max-width: 768px) {
                font-size: 3rem;
            }
        }
        &_secondary {
            font-size: 3rem;
            font-weight: 200;
            @media (max-width: 768px) {
                font-size: 2rem;
            }
        }
    }
    &__icon {
        position: absolute;
        top: .5rem;
        right: 0;
        @media (max-width: 920px) {
            display: none;
        }
    }
    &__description {
        font-size: 0.875rem;
    }
}
