mixin tabs(data)
    +b.tabs
        +e.header
            +e.tab_active
                +e.title(data-tab-id='1') Возможности
            +e.tab
                +e.title(data-tab-id='2') Информация
            +e.tab
                +e.title(data-tab-id='3') Привилегии
